<div class="container">
  <table class="table" style="width:50%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Label</th>
        <th>Values</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let input of formInputs">
        <td>{{ input.name }}</td>
        <td>{{ input.type }}</td>
        <td>{{ input.label }}</td>
        <td>
          <ul>
            <li *ngFor="let value of input.inputValues">{{ value.value }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 50%;">
    <div class="form-group" *ngFor="let input of formInputs">
      <label *ngIf="input.type !== 'checkbox'" for="{{input.label}}">{{input.label}}</label>

      <div *ngIf="input.type !== 'dropdown' && input.type !== 'radio' && input.type !== 'checkbox'">
        <input type="{{input.type}}" class="form-control" formControlName="{{input.name}}" placeholder="{{input.label}}">
      </div>

      <div *ngIf="input.type === 'dropdown'">
        <select class="form-control" formControlName="{{input.name}}">
          <option value="" disabled selected>-- Select {{input.name}} --</option>
          <option *ngFor="let value of input.inputValues" value="{{value.value}}">{{value.value}}</option>
        </select>
      </div>

      <div *ngIf="input.type === 'radio'">
        <div class="form-check form-check-inline" *ngFor="let value of input.inputValues">
          <input class="form-check-input" type="{{input.type}}" formControlName="{{input.name}}" value="{{value.value}}">
          <label class="form-check-label" for="{{value.value}}">{{value.value}}</label>  
        </div>
      </div>

      <div *ngIf="input.type === 'checkbox'">
        <div class="form-check">
          <input class="form-check-input" type="{{input.type}}" (click)="updateCheckbox($event)" formControlName="{{input.name}}">
          <label class="form-check-label" for="{{input.label}}">
            {{input.label}}
          </label>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>